<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>webProfile-9.1</feature>
        <feature>microProfile-5.0</feature>
        <feature>jdbc-4.3</feature>
        <feature>persistence-3.0</feature>
    </featureManager>


    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443" />

    com.ibm.ws.logging.console.format=json
    com.ibm.ws.logging.console.log.level=info
    com.ibm.ws.logging.console.source=message,trace,accessLog,ffdc,audit

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Configures the application on a specified context root -->
    <webApplication id="cargotracker" location="cargotracker.war" contextRoot="cargotracker" />

    <dataSource id="DefaultDataSource">
        <jdbcDriver libraryRef="jdbcLib"/>
        <properties serverName="localhost"
                    portNumber="3306"
                    databaseName="cargotracker"
                    user="cargotracker"
                    password="cargotracker"/>
    </dataSource>
    <library id="jdbcLib">
        <fileset dir="/Users/ukirsche/Downloads/mysql-connector-java-8.0.30" includes="*.jar"/>
    </library>
</server>
